/*
 * Empty Stylesheet file.
 */


.datePicker{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: #720000;
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.datePicker:focused{
    -fx-border-width: 1.8px;
    -fx-background-color: #fff;
}

.textfield{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: #720000;
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.textarea{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: #720000;
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.textarea:focused{
    -fx-border-width: 1.8px;
    -fx-background-color: #fff;
}

.textfield:focused{
    -fx-border-width: 1.8px;
    -fx-background-color: #fff;
}

.search{
    -fx-background-color: transparent;
    -fx-border-color: #720000;
    -fx-border-radius: 5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 12px;
}

.search:focused{
    -fx-border-width: 2px;
}

.import-btn{
    -fx-background-color: #ddd;
    -fx-text-fill: #720000;    
    -fx-cursor: hand;
}

.import-btn:hover{
    -fx-background-color: #aeabab;
    -fx-text-fill: #720000;    
    -fx-cursor: hand;
}

.btn{
    -fx-background-color: #720000;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color: #5B0000;
}

.label-ajout{
    -fx-text-fill: #720000;
    -fx-font-size:12px;
    -fx-font-family:"System";
    -fx-font-weight: 800;
}

.btn{
    -fx-background-color: #720000;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size:14px;
    -fx-font-family:"System";
    -fx-font-weight:800;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color: #5B0000;
}

.comboBox{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: #720000;
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.comboBox:selected{
    -fx-border-width: 2px;
}