/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Mar-2023, 04:58:52
    Author     : khaled
*/

.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color: #720000;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover{
    -fx-background-color: #ddd;
}

.nav-form{
    -fx-background-color: #720000;
}

.nav-btn{
   -fx-background-color: transparent;
   -fx-cursor: hand;
   -fx-font-family: "System";
   -fx-font-size: 16px;
   -fx-text-fill: #fff;
   -fx-alignment: center-left;
}

.nav-btn:hover{
    -fx-background-color: #5B0000;
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.btn{
    -fx-background-color: #720000;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size:14px;
    -fx-font-family:"System";
    -fx-font-weight:800;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color: #5B0000;
}
